@font-face {
  font-family: "yekan";
  src: url(../fonts/yekan.ttf);
}

.dropdown-menu {
  background-color: darkgray;
}

/* .bootstrap-select > .dropdown-toggle{
  background-color: white !important;

} */